.App {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}
h2 {
  font-size: 2rem;
}