:root {
  --main-color: #8045c3;
  --secundary-color: rgb(215, 192, 235);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(2);
  opacity: 0.4;
}
body {
  height: 100vh;
  border: 5px solid var(--main-color);
  box-shadow: 10px 10px 100px inset var(--main-color);
}
#root {
  height: 100%;
}
body,
button {
  font-family: "East Sea Dokdo", cursive;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  color: var(--main-color);
}
h1 {
  font-size: 3rem;
  animation: neon 1s infinite linear;
}

button {
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  animation: neon 1s infinite linear;
  padding: 1rem;
}
button:hover,
button:focus {
  background-color: var(--secundary-color);
  border: 2px solid var(--main-color);
}

@keyframes neon {
  from {
    text-shadow: 10px 10px 20px rgb(176, 46, 216);
  }
  to {
    text-shadow: 0px 0px var(--secundary-color);
  }
}
