:root {
  --main-green: #1b682c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/background.jpg");
  filter: brightness(2);
  opacity: 0.4;
}
body {
  height: 100vh;
}
#root {
  height: 100%;
}
body,
button {
  font-family: "Galindo", cursive;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: lowercase;
  color: var(--main-green);
}
