.card {
  padding: 1rem;
}
.card h3,
.card p {
  text-transform: uppercase;
  text-align: center;
  margin-left: -2rem;
}
.card h3 {
  font-size: 1.2rem;
}
.card p {
  font-size: 1rem;
}
.card img {
  width: 110px;
  height: 104px;
  border-radius: 20%;
  border: 3px solid var(--main-color);
  transform: rotate(-20deg);
  margin-top: 0.5rem;
  object-fit: cover;
  object-position: top center;
}
@media only screen and (min-width: 768px) {
  .card h3 {
    font-size: 2rem;
  }
  .card p {
    font-size: 1.5rem;
  }
  .card img {
    padding: 1rem;
    width: 100%;
    max-width: 12rem;
    height: 12rem;
  }
  .card-conteiner {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    animation: mov 1s ease-in;
  }

  @keyframes mov {
    from {
      left: 0;
      top: -50%;
    }
    to {
      top: 0;
    }
  }
}
